html {
    font-size: 62.5%;
}

body {
    font-family: 'Cabin', sans-serif;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

#guesses-remaining-p {
    letter-spacing: 1rem;
    text-align: center;
    font-size: 3rem;
}

#guessed-letters-display {
    font-size: 2rem;
}

.guesses-remaining-container, .guessed-letters-container {
    text-align: center;
    padding: 5%;
    height: 40%;
}
