@media only screen and (max-width: 960px){
    #word-big-blank-display {
        font-size: 6rem;
    }
    
}

@media only screen and (max-width: 768px){
    #word-big-blank-display {
        font-size: 4rem;
        letter-spacing: 0.8rem;
    }
}

@media only screen and (max-width: 640px){
    #word-big-blank-display {
        font-size: 3.4rem;
    }

}